{% extends "base_menu.html" %}
{% block content %}
  <h1>Ads</h1>
  <div>
    {% if ad_list %}
      <ul>
        {% for ad in ad_list %}
          <li>
            <a href="{% url 'mkt:ad_detail' ad.id %}">{{ ad.title }}</a>
            {% if ad.owner == user %}
              (<a href="{% url 'mkt:ad_update' ad.id %}">Edit</a> |
              <a href="{% url 'mkt:ad_delete' ad.id %}">Delete</a>)
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no ads in the database.</p>
    {% endif %}
  </div>
  <div>
    <a href="{% url 'mkt:ad_create' %}">Add an ad</a>
    {% if user.is_authenticated %}
      <p>Logged in as {{ user.username }}</p>
    {% else %}
      <p>Not currently logged in.</p>
    {% endif %}
  </div>
{% endblock %}
